.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details span {
  font-size: 1.3em;
  font-weight: bold;
  color: #444;
  margin-bottom: 11px;
  text-align: center;
}

.details img {
  width: 60px;
  aspect-ratio: auto 60 / 60;
  height: 60px;
}
