.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  padding: 2vw;
  margin: 2vh auto;
  max-width: 85vw;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
}

p {
  font-size: 1.3em;
  font-weight: bold;
  color: rgb(69, 69, 69);
  text-align: center;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
