.status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 11px;
  justify-content: end;
}

.status-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-column span:first-child {
  font-size: 1.6em;
  font-weight: bold;
  color: #333;
  margin: 5px 0 0;
}

.status-column span:last-child {
  font-size: 0.85em;
  color: #666;
  margin: 0 0 5px;
}
